@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main {
    background-color: white;
}

.content {
    margin: 7px 80px
}

.span {
    font-family: 'Inter', sans-serif;
    color: black;
}

.linkRest {
    font-size: 12px;
    float: right;
    margin-left: 72px;
    padding-top: 20px;
    font-weight: 450;
}

.linkCont {
    font-size: 12px;
    float: right;
    margin-left: 72px;
    padding-top: 20px;
    font-weight: 450;
}
  
.linkLog {
    font-size: 12px;
    float: right;
    margin-left: 72px;
    padding-top: 20px;
    font-weight: 500;
    color: #369396;
}

.divider {
    margin: 0 60px;
    width: 89%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }